
/*
* Big changeable blocks
*/
ul {
	list-style: none;
}

.variable-block {
	width: 650px;
	float: right;
}

.image-wrap {
	float: left;
	margin-top: 18px;
	margin-left: 55px;
	/*
	padding-left: 55px;*/
}

.about-block {
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}

.about-block-body {
	overflow: hidden;
}

.about-block-list {
	margin: 0;
	padding: 0;
}

.about-block-header {
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
	display: inline-block;
	padding: 13px 23px;
	margin: 0 0 23px 0;
}

.about-block-body {
	padding-bottom: 40px;
}

.avatar-box {
	border-radius: 50% 50%;
	border: 5px solid #3ba8c0;
	overflow: hidden;
	width: 142px;
	height: 142px;
}

.worksheet-wrap {
	float: right;
	width: 400px;
}

.worksheet-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.worksheet-list-item {
	margin-bottom: 8px;
}

.worksheet-name {
	float: left;
	font-size: 16px;
	font-family: 'fira_sansmedium';
}

.worksheet-description{ 
	font-family: 'fira_sansbook';
	font-size: 15px;
	overflow: hidden;
	max-width: 218px;
	float: left;
	margin-left: 25px;

}

.list-skills-wrap {
	font-family: 'ProximaNovaCondSemibold';
	font-size: 14px;
	float: left;
	margin-left: 25px;
	overflow: hidden;
	max-width: 210px;	
}

.list-skills {
	width: 220px;
	padding: 0;
	list-style: none;
}

.list-skills-item {
	color: #ffffff;
	display: inline-block;
	border-radius: 3px;
	padding: 3px 15px;
	margin: 6px 7px 0 0;
	line-height: 1.2;
	background: #3ba8c0; /* Old browsers */
	background: -moz-linear-gradient(top,  #3ba8c0 0%, #2989d8 50%, #207cca 51%, #2e8ca2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3ba8c0 0%,#2989d8 50%,#207cca 51%,#2e8ca2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3ba8c0 0%,#2989d8 50%,#207cca 51%,#2e8ca2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */
}



/*
* Sprites EDU + JOB
*/
.sprite-edu-work {
    background-image: url(../img/spritesheet-edu-work.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-doc-icon {
    width: 26px;
    height: 32px;
    background-position: -10px -10px;
    display: inline-block;
    float: left;
}

.sprite-edhat-icon {
    width: 42px;
    height: 23px;
    background-position: -56px -10px;
    display: inline-block;
    float: left;
}

.sprite-work-icon {
    width: 36px;
    height: 34px;
    background-position: -56px -53px;
    display: inline-block;
    float: left;
}


/*.sprite-work-icon {
    width: 36px;
    height: 34px;
    background-position: -57px -5px;
    display: inline-block;
    float: left;
}*/

/*
* End of Sprites EDU + JOB
*/



.about-block-item {
	padding-left: 60px;
	padding-bottom: 20px;
	max-width: 542px;
}

.where {
	font-family: 'fira_sansbook';
	font-size: 17px;
	line-height: 1.3;
	padding-left: 70px;
}

.date {
    font-family: 'fira_sanseight';
   	font-size: 15px;
   	line-height: 1.3;
   	padding-left: 70px;

}


.about-block-item:last-child {
	margin-bottom: 0;
}



/*
* End of big changeable blocks
*/