/*
* Common Styles
*/

* {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }
 
 html, body {
    height: 100%;
 }

ul {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: url(../img/bkg-img.png) repeat;
    color: #4a545d;
}

a {
    text-decoration: none;
}

i {
    font-style:normal;
}
.container {
    width: 960px;
    margin: 0 auto;
}

/*.text-center {
    text-align: center;
}*/

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clearfix:before, .container:before,
.clearfix:after, .container:after {
    content: " " ;
    display: table;
}

.clearfix:after, .container:after {
    clear:both;
}

/*
*  End of Common Styles
*/

/*
* Header
*/

.container-big {
    max-width: 1200px;
    min-width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.page-header {
    height: 119px;
    background: #eff3f7 url(../img/line-gradient.png) bottom center no-repeat;
    position: relative;
    margin-bottom: 39px;
}

.header-logo-link {
    position: absolute;
    top: 39px;
    left: 0;
}

.header-logo-text {
    position: absolute;
    left: -9999px;
}

.socials {
    position: absolute;
    right: 0;
    top: 30px;
}

.socials-item {
    list-style: none;
    display: inline-block;
    height: 47px;
    width: 47px;
    margin-left: 19px;

}

.social-item:first-child {
    margin-left: 0;
}

.socials-link {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    background: url(../img/spritesheet-socials.png) no no-repeat;
}


/*
*   Sprites
*/

.sprite {
    background-image: url(../img/spritesheet-socials.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb {
    width: 47px;
    height: 47px;
    background-position: -5px -5px;
}

.sprite-fb:hover {
    width: 47px;
    height: 47px;
    background-position: -62px -5px;
}

.sprite-gt {
    width: 47px;
    height: 47px;
    background-position: -5px -62px;
}

.sprite-gt:hover {
    width: 47px;
    height: 47px;
    background-position: -62px -62px;
}

.sprite-tw {
    width: 47px;
    height: 47px;
    background-position: -119px -5px;
}

.sprite-tw:hover {
    width: 47px;
    height: 47px;
    background-position: -119px -62px;
}

.sprite-vk {
    width: 47px;
    height: 47px;
    background-position: -5px -119px;
}

.sprite-vk:hover {
    width: 47px;
    height: 47px;
    background-position: -62px -119px;
}

/*
*  End of  Sprites
*/

/*
* End of Header
*/

/*
* Navigation
*/

.sidebar {
    width: 250px;
    float: left;
}

.navigation {
    overflow: hidden;
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation-item {
    border-top: 2px solid #3ba8c0;
    margin: 0 11px;
}

.navigation-item:first-child {
    border-top: none;
}
.navigation-item.current {
    background: #3ba8c0;
    margin: 0;
    border-bottom: none;
    padding-left: 11px;
    margin-bottom: -2px; /*remove bottom line*/
}

.navigation-item.current .navigation-link {
    color: #f9fafb;
    font-size: 22px;
}

.navigation-item .navigation-link {
    font-family: 'fira_sansbook';
    display: block;
    font-size: 20px;
    color: #959aa8;
    margin-left: 16px;
    padding: 20px 0px;
}
.navigation-link:hover{
    color: #3ba8c0;
}

/*
* Contact block
*/
.contacts-info-item a:hover {
    text-decoration: underline;
}

.contacts-info {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts-wrap {
    overflow: hidden;
    border-radius: 4px;
}

.contacts-info-title {
    background-color: #3ba8c0;
    color: #f9fafb;
    padding-left: 21px;
    line-height: 200%;
    font-size: 22px;
    font-weight: normal;
    font-family: 'fira_sansbook';
}

.contacts-info-item {
    padding-left: 40px;
}

.contacts-info-item.email {
    background-color: #41b9d4;
}

.contacts-info-item.phone {
    background-color: #48cbe8;
}

.contacts-info-item.skype {
    background-color: #51daf8;
}

.contacts-link {
    display: inline-block;
    color: #f9fafb;
    font-family: 'fira_sansbook';
    font-size: 16px;
    padding-left: 10px;
}

.sprite-contacts {
    background-image: url(../img/spritesheet-contacts.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    line-height: 240%;
    padding-right: 5px;
    padding-bottom: 5px;
}

.sprite-email-icon {
    width: 21px;
    height: 16px;
    background-position: -5px -5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.sprite-phone-icon {
    width: 19px;
    height: 21px;
    background-position: -36px -5px;
}

.sprite-skype-icon {
    width: 20px;
    height: 20px;
    background-position: -5px -36px;
}

/*
* End of Navigation and Contact Blocks
*/

.variable-block {
    width: 650px;
    float: right;
}

/*
*   Footer
*/

.wrapper {
    position: relative;
    min-height: 100%;
    min-width: 970px;
    height: auto !important;
}

.wrapper:after {
    content: "";
    height: 88px;
    display: block;
}


.page-footer {
    background: #eff3f7 url(../img/line-gradient.png) top center no-repeat;
    font-family: 'fira_sanslight';
    color: #4a545d;
}

.page-footer .container {
    padding-top: 23px;
    position: relative;
}

.page-footer .copyright {
    margin: 0 180px;
    padding-top: 7px;
    text-align: center;
    font-size: 13px;
}

/*
* Login
*/

.page-footer .lock {
    position: absolute;
    top: 26px;
    left: 20px;
}

.lock .lock-inner {
    display: block;
    height: 40px;
    background: url(../img/lock-login.png) no-repeat;
    font-family: 'fira_sansbook';
    font-size: 16px;
    line-height: 2.2;
    color: #4a545d;
    text-decoration: none;
    padding-left: 24px;
}

.lock .lock-inner:hover {
    text-decoration: underline;
    background: url(../img/unlock-login.png) no-repeat;
}

/* 
* Sticky Footer
*/

.fix-footer{
    min-height: 100%;
    margin-bottom: -142px;
}

.fix-footer:after {
    content: "";
    display: block;
}

.page-footer, .fix-footer:after {
    height: 142px;
}

.page-footer {
    margin-top: 60px;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #eff3f7;
    min-width: 970px;
}

/*
*   End of Footer
*/
