/*
* Common Styles
*/

* {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }
 
 html, body {
    height: 100%;
 }

body {
    height: 100%;
    background: url(../img/bkg-img.png) repeat;
    font: normal 1em 'fira_sanslight';
    color: #4a545d;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/*.text-center {
    text-align: center;
}*/

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clearfix:before, .container:before,
.clearfix:after, .container:after {
    content: " " ;
    display: table;
}

.clearfix:after, .container:after {
    clear:both;
}

/*
*  End of Common Styles
*/

/*
* Header
*/

.container-big {
    max-width: 1200px;
    min-width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.page-header {
    height: 119px;
    background: #eff3f7 url(../img/line-gradient.png) bottom center no-repeat;
    position: relative;
    margin-bottom: 39px;
}

.header-logo-link {
    position: absolute;
    top: 39px;
    left: 0;
}

.header-logo-text {
    position: absolute;
    left: -9999px;
}

/*
*   Socials
*/

.socials {
    position: absolute;
    right: 0;
    top: 36px;
}

.socials-item {
    list-style: none;
    display: inline-block;
    height: 47px;
    width: 47px;
    margin-left: 19px;
}

.socials-item:first-child {
    margin-left: 0;
}/*resetting to 0 padding of first element*/

.socials-link {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    background: url(../img/socials.png) no-repeat;
}

.facebook-icon, .gihtub-icon, .tw-icon, .vk-icon{ 
    display: inline-block; 
    background: url('png') no-repeat;
     overflow: hidden; 
     text-indent: -9999px; 
     text-align: left; 
}
 
.socials-link.vk {background-position: -2px -3px; }
.socials-link.tw {background-position: -71px -3px; }
.socials-link.fb {background-position: -140px -3px; }
.socials-link.gt {background-position: -209px -3px; }
.socials-link:hover {background-position-y: -65px; }
/*
*  End of  Socials
*/

/*
* End of Header
*/


/*
*   Footer
*/


.page-footer {
    background: #eff3f7 url(../img/line-gradient.png) top center no-repeat;
    font-family: 'fira_sanslight';
    color: #4a545d;
}

.page-footer .container {
    padding-top: 23px;
    position: relative;
}

.page-footer .copyright {
    margin: 0 180px;
    padding-top: 7px;
    text-align: center;
    font-size: 13px;
}

/*
* Login
*/

.page-footer .lock {
    position: absolute;
    top: 26px;
    left: 20px;
}

.lock .lock-inner {
    display: block;
    height: 40px;
    background: url(../img/lock-login.png) no-repeat;
    font-family: 'fira_sansbook';
    font-size: 16px;
    line-height: 2.2;
    color: #4a545d;
    text-decoration: none;
    padding-left: 24px;
}

.lock .lock-inner:hover {
    text-decoration: underline;
    background: url(../img/unlock-login.png) no-repeat;
}

/* 
* Sticky Footer
*/

.fix-footer {
    min-height: 100%;
    margin-bottom: -142px;
}

.fix-footer:after {
    content: "";
    display: block;
}

.page-footer, .fix-footer:after {
    height: 142px;
}

.page-footer {
    margin-top: 60px;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #eff3f7;
    min-width: 970px;
}

/*
*   End of Footer
*/
