
.porfolio-block {
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}

.portfolio-block-header {
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
	display: inline-block;
	padding: 13px 23px;
	margin: 0 0 23px 0;
}
/*
.portfolio-gallery {
	margin: 0 auto;
}*/

.portfolio-item {
	display: inline-block;
	margin: 2px 7px 0 19px;
	width: 183px;
    vertical-align: top;
    text-align: center;
}

.project-wrap {
	width: 183px;
	height: 129px;
	border: 2px solid #3ba8c0;
	border-radius: 6px;
	overflow: hidden;
}

.add-project {
	border: 1px dashed #3ba8c0;
}

.project-link {
	font-family: 'fira_sanslight_italic';
	font-size: 13px;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	color: #3ba8c0;
	margin: 5px auto;
}

.project-description {
	font-family: 'fira_sanslight';
	color: #4a545d;
	margin-top: 0;
	margin-bottom: 39px;
	line-height: 135%;
}

.caption {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 3px;
	font-size: 12px;
	padding: 0 3px;
}

.project-img {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	opacity: 0;
	transition: 0.5s;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	text-decoration: none;
}

.project-img:hover {
	opacity: 70;
	background-color: rgb(1, 108, 164); /* IE8 Fallback */
	background-color: rgba(1, 108, 164, 0.8);
	transition: 0.5s;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.add-project-bg {
	padding-top: 36px;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #edf8fc;
	color: #3ba8c0;
	text-decoration: none;
}

.inner-caption-add-project {
	font-size: 13px;
}


.project1 {
	background: url(../img/portfolio-showcase-image.png);
}
.project2 {
	background: url(../img/portfolio-showcase-image2.png);
}
.project3 {
	background: url(../img/portfolio-showcase-image3.png);
}
.project4 {
	background: url(../img/portfolio-showcase-image4.png);
}

/* popup window */

.project-popup-window { /* hide this*/
	display: none;
}

.popup-wrapper {
	max-width: 363px;
	max-height: 570px;
	background-color: #eff3f7;
	position: relative;
	border-radius: 4px;
}

.popup-title {
	font-family: 'fira_sansregular';
	font-size: 25px;
	background-color: #48cbe8;
	line-height: 44px;
	color: #fff;
	border-bottom: 9px solid #67dffa;
	padding: 5px 0 0 12px;
	border-radius: 4px 4px 0 0 ;
}

.popup-close {
	position: absolute;
    top: 13px;
    right: 15px;
    color: #fff;}

.popup-form {
	max-width: 350px;
	padding: 0 20px 25px;
	border-radius: 6px;
}

.project-name-label, .upload-project-image,
.project-url-label, .label-proj-descr {
	display: block;
	font-family: 'fira_sansbook';
	font-size: 13px;
	line-height: 1;
	color: #959aa8;
	padding-bottom: 5px;
}

.project-details {
	margin-bottom: 15px;
}

input[type=text] {
	border: 2px solid #67dffa;
	border-radius: 6px;
	color: rgba(72, 203, 232, 1);
	color: #48cbe8;
	font-size: 13px;
	width: 100%;
	height: 50px;
	padding-bottom: 5px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #48cbe8;
    padding-left: 10px;
    font-size: 13px;
	font-family: fira_sanslight;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #48cbe8;
    padding-left: 10px;
    font-size: 10px;
	font-family: fira_sanslight;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #48cbe8;
    padding-left: 10px;
    font-size: 20px;
	font-family: fira_sanslight;
}
:-ms-input-placeholder,  { /* Internet Explorer 10-11 */
   	color: #48cbe8;
   	padding-left: 10px;
    font-size: 13px;
	font-family: fira_sanslight;
}

.textarea-project-description {
	font-family: fira_sanslight;
	color: #48cbe8;
	font-size: 13px;
	border: 2px solid #67dffa;
	border-radius: 6px;
	width: 100%;
	resize: none;
	overflow: hidden;
}

:-ms-textarea-placeholder {
	font-family: fira_sanslight;
	color: #48cbe8;
	font-size: 13px;
	border: 2px solid #67dffa;
	border-radius: 6px;
	width: 100%;
	resize: none;
	overflow: hidden;
}

.submit-project {
	font-family: 'fira_sansbook';
	font-size: 19px;
	height: 35px;
	background-color: #48cbe8;
	color: #fff;
	border-radius: 4px;
	border-color: #3ba8c0;
    border-style: solid;
    border-width: 0 0 2px;
    padding: 0 15px;
    margin-top: 10px;
    margin-left: 24%;

}

.submit-project:hover {
	border: none;
}


/* Upload File */
.upload-files-block {
	margin-bottom: 12px;
}

.file-upload-wrapper {
	width: 100%;
  	position: relative;
}

.file-upload-wrap {
	display: block;
	background-image: url(../img/upload-icon.png);
	background-repeat: no-repeat;
	background-position: 9px 13px;
	position: absolute;	
	width: 50px;
	height: 50px;
	right: 0;
	border-radius: 0 4px 4px 0;
	background-color: #48cbe8;
}

.file-upload {
	border: 0;
	height: 1px;
	clip: rect(0);
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	margin: -1px;
}

/* messages */

.server-message {
	padding: 6px 12px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 12px;
	border: 1px solid;
	border-radius: 4px;
	display: none;

}

.error-message {
	background-color: #f2cccd;
	border-color: #f97e76;
	color: #f97e76;
	box-sizing: border-box;
}

.success-message {
	background-color: #b8e1ce;
	border-color: #49bb7b;
	color: #49bb7b;
	display: none;
	box-sizing: border-box;
}












