
.porfolio-block {
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}

.portfolio-block-header {
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px solid #3ba8c0;
	display: inline-block;
	padding: 13px 23px;
	margin: 0 0 23px 0;
}
/*
.portfolio-gallery {
	margin: 0 auto;
}*/

.portfolio-item {
	display: inline-block;
	margin-left: 20px;
/*	margin-bottom: 30px;*/
	width: 190px;
    vertical-align: top;
    text-align: center;
}

.project-wrap {
	width: 190px;
	height: 130px;
	border: 3px solid #3ba8c0;
	border-radius: 4px;
}

.add-project {
	border: 3px dashed #3ba8c0;
}

.project-link {
	font-family: 'fira_sanslight_italic';
	font-size: 13px;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	color: #3ba8c0;
}

.project-description {
	font-family: 'fira_sanslight';
	color: #4a545d;
}

.caption {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 4px;
	padding: 5px;
}

.project-img {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 40px;
	opacity: 0;
	transition: 0.5s;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	text-decoration: none;
}

.project-img:hover {
	opacity: 70;
	background-color: rgb(1, 108, 164); /* IE8 Fallback */
	background-color: rgba(1, 108, 164, 0.8);
	transition: 0.5s;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.add-project-bg {
	padding-top: 25px;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #edf8fc;
	color: #3ba8c0;
	text-decoration: none;
}


.project1 {
	background: url(../img/portfolio-showcase-image.png);
}
.project2 {
	background: url(../img/portfolio-showcase-image2.png);
}
.project3 {
	background: url(../img/portfolio-showcase-image3.png);
}
.project4 {
	background: url(../img/portfolio-showcase-image4.png);
}