@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('fonts/ProximaNovaBlack.eot');
    src: url('fonts/ProximaNovaBlack.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaBlack.woff2') format('woff2'),
         url('fonts/ProximaNovaBlack.woff') format('woff'),
         url('fonts/ProximaNovaBlack.ttf') format('truetype'),
         url('fonts/ProximaNovaBlack.svg#ProximaNovaBlack') format('svg');
}

@font-face {
    font-family: 'ProximaNovaExtrabold';
    src: url('fonts/ProximaNovaExtrabold.eot');
    src: url('fonts/ProximaNovaExtrabold.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaExtrabold.woff2') format('woff2'),
         url('fonts/ProximaNovaExtrabold.woff') format('woff'),
         url('fonts/ProximaNovaExtrabold.ttf') format('truetype'),
         url('fonts/ProximaNovaExtrabold.svg#ProximaNovaExtrabold') format('svg');
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/ProximaNovaBold.eot');
    src: url('fonts/ProximaNovaBold.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaBold.woff2') format('woff2'),
         url('fonts/ProximaNovaBold.woff') format('woff'),
         url('fonts/ProximaNovaBold.ttf') format('truetype'),
         url('fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}

@font-face {
    font-family: 'ProximaNovaBoldIt';
    src: url('fonts/ProximaNovaBoldIt.eot');
    src: url('fonts/ProximaNovaBoldIt.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaBoldIt.woff2') format('woff2'),
         url('fonts/ProximaNovaBoldIt.woff') format('woff'),
         url('fonts/ProximaNovaBoldIt.ttf') format('truetype'),
         url('fonts/ProximaNovaBoldIt.svg#ProximaNovaBoldIt') format('svg');
}

@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('fonts/ProximaNovaSemibold.eot');
    src: url('fonts/ProximaNovaSemibold.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaSemibold.woff2') format('woff2'),
         url('fonts/ProximaNovaSemibold.woff') format('woff'),
         url('fonts/ProximaNovaSemibold.ttf') format('truetype'),
         url('fonts/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
}

@font-face {
    font-family: 'ProximaNovaCondSemiboldIt';
    src: url('fonts/ProximaNovaCondSemiboldIt.eot');
    src: url('fonts/ProximaNovaCondSemiboldIt.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaCondSemiboldIt.woff2') format('woff2'),
         url('fonts/ProximaNovaCondSemiboldIt.woff') format('woff'),
         url('fonts/ProximaNovaCondSemiboldIt.ttf') format('truetype'),
         url('fonts/ProximaNovaCondSemiboldIt.svg#ProximaNovaCondSemiboldIt') format('svg');
}

@font-face {
    font-family: 'ProximaNovaCondSemibold';
    src: url('fonts/ProximaNovaCondSemibold.eot');
    src: url('fonts/ProximaNovaCondSemibold.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaCondSemibold.woff2') format('woff2'),
         url('fonts/ProximaNovaCondSemibold.woff') format('woff'),
         url('fonts/ProximaNovaCondSemibold.ttf') format('truetype'),
         url('fonts/ProximaNovaCondSemibold.svg#ProximaNovaCondSemibold') format('svg');
}

@font-face {
    font-family: 'ProximaNovaCondRegularIt';
    src: url('fonts/ProximaNovaCondRegularIt.eot');
    src: url('fonts/ProximaNovaCondRegularIt.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaCondRegularIt.woff2') format('woff2'),
         url('fonts/ProximaNovaCondRegularIt.woff') format('woff'),
         url('fonts/ProximaNovaCondRegularIt.ttf') format('truetype'),
         url('fonts/ProximaNovaCondRegularIt.svg#ProximaNovaCondRegularIt') format('svg');
}

@font-face {
    font-family: 'ProximaNovaRegularItalic';
    src: url('fonts/ProximaNovaRegularItalic.eot');
    src: url('fonts/ProximaNovaRegularItalic.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaRegularItalic.woff2') format('woff2'),
         url('fonts/ProximaNovaRegularItalic.woff') format('woff'),
         url('fonts/ProximaNovaRegularItalic.ttf') format('truetype'),
         url('fonts/ProximaNovaRegularItalic.svg#ProximaNovaRegularItalic') format('svg');
}

@font-face {
    font-family: 'ProximaNovaCondRegular';
    src: url('fonts/ProximaNovaCondRegular.eot');
    src: url('fonts/ProximaNovaCondRegular.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaCondRegular.woff2') format('woff2'),
         url('fonts/ProximaNovaCondRegular.woff') format('woff'),
         url('fonts/ProximaNovaCondRegular.ttf') format('truetype'),
         url('fonts/ProximaNovaCondRegular.svg#ProximaNovaCondRegular') format('svg');
}

@font-face {
    font-family: 'ProximaNovaCondLightIt';
    src: url('fonts/ProximaNovaCondLightIt.eot');
    src: url('fonts/ProximaNovaCondLightIt.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaCondLightIt.woff2') format('woff2'),
         url('fonts/ProximaNovaCondLightIt.woff') format('woff'),
         url('fonts/ProximaNovaCondLightIt.ttf') format('truetype'),
         url('fonts/ProximaNovaCondLightIt.svg#ProximaNovaCondLightIt') format('svg');
}

@font-face {
    font-family: 'ProximaNovaCondLight';
    src: url('fonts/ProximaNovaCondLight.eot');
    src: url('fonts/ProximaNovaCondLight.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaCondLight.woff2') format('woff2'),
         url('fonts/ProximaNovaCondLight.woff') format('woff'),
         url('fonts/ProximaNovaCondLight.ttf') format('truetype'),
         url('fonts/ProximaNovaCondLight.svg#ProximaNovaCondLight') format('svg');
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('fonts/ProximaNovaLight.eot');
    src: url('fonts/ProximaNovaLight.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaLight.woff2') format('woff2'),
         url('fonts/ProximaNovaLight.woff') format('woff'),
         url('fonts/ProximaNovaLight.ttf') format('truetype'),
         url('fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg');
}

@font-face {
    font-family: 'ProximaNovaLightItalic';
    src: url('fonts/ProximaNovaLightItalic.eot');
    src: url('fonts/ProximaNovaLightItalic.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaLightItalic.woff2') format('woff2'),
         url('fonts/ProximaNovaLightItalic.woff') format('woff'),
         url('fonts/ProximaNovaLightItalic.ttf') format('truetype'),
         url('fonts/ProximaNovaLightItalic.svg#ProximaNovaLightItalic') format('svg');
}
